@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-default {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 1024px) {
  .container-default {
    margin-left: 4.375rem;
    margin-right: 4.375rem;
  }
}

@media (min-width: 768px) {
  .container-default {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }
}

@media (min-width: 110rem) {
  .container-default {
    margin-left: auto;
    margin-right: auto;
  }
}

.h-header-desktop {
  height: 64px;
}

.h-header-mobile {
  height: 56px;
}

.gradient-black {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0,
    transparent 50%
  );
}

.btn-arrow {
  align-items: center;
  background-color: rgba(0, 0, 0);
  border-radius: 9999px;
  border-width: 1px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  justify-content: flex-start;
  padding: 0.75rem 2rem;
  position: relative;
  transition-duration: 0.5s;
}

.btn-arrow:hover {
  --tw-text-opacity: 1;
  background-color: transparent;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.z-negative {
  z-index: -1;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */ ;
